@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
      font-family: "Terminal One";
      src: url("/fonts/Terminal-One.eot");
      src: url("/fonts/Terminal-One.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Terminal-One.woff2") format("woff2"),
        url("/fonts/Terminal-One.woff") format("woff"),
        url("/fonts/Terminal-One.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: "Rockwell Nova Cond";
      src: url("/fonts/RockwellNova-Cond.eot");
      src: url("/fonts/RockwellNova-Cond.eot?#iefix") format("embedded-opentype"),
        url("/fonts/RockwellNova-Cond.woff2") format("woff2"),
        url("/fonts/RockwellNova-Cond.woff") format("woff"),
        url("/fonts/RockwellNova-Cond.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: "Rockwell Nova Cond";
      src: url("/fonts/RockwellNova-CondBold.eot");
      src: url("/fonts/RockwellNova-CondBold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/RockwellNova-CondBold.woff2") format("woff2"),
        url("/fonts/RockwellNova-CondBold.woff") format("woff"),
        url("/fonts/RockwellNova-CondBold.ttf") format("truetype");
      font-weight: bold;
      font-style: 700;
    }
  }

  @layer utilities {
    @responsive {
      .text-shadow {
        text-shadow: -0.04em -0.02em #ce4369;
      }
      .text-shadow-none {
        text-shadow: none;
      }
    }

  .slab {
    @apply font-serif font-bold uppercase;
  }

  .article-content *:first-child {
    @apply mt-0 !important;
  }

  .article-content h1, .article-content h2, .article-content h3, .article-content h4 {
    @apply mt-8 slab
  }
  .article-content p {
    @apply mt-4
  }

  .article-content a {
    @apply underline
  }

  .nav-spacer {
    @apply h-20
  }

  [x-cloak] {
    display: none;
  }
}

/*! purgecss start ignore */
@import "flickity/css/flickity";
@import "flickity-fade/flickity-fade";
@import "nouislider/distribute/nouislider";
/*! purgecss end ignore */
